@import url(m_style.css);
html,
body,
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
header {
  width: 100%;
  height: 0.87rem;
  background: #fb6473;
}
header a img {
  width: 0.38rem;
  height: 0.35rem;
  background: none;
  margin-top: -0.18rem;
  margin-left: 0.4rem;
}
header p {
  display: inline;
  margin-left: 2.27rem;
  line-height: 0.9rem;
  font-size: 0.35rem;
  color: #fff;
}
section {
  width: 100%;
  height: 4.81rem;
  background: #eeeeee;
  margin-top: 0.2rem;
}
section .one {
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}
section .one img {
  width: 1.08rem;
  height: 1.08rem;
  background: none;
  margin-top: 0.06rem;
  margin-left: 0.4rem;
}
section .one1 {
  width: 2.97rem;
  height: 0.65rem;
  background: none;
  margin-left: 1.5rem;
  margin-top: -1rem;
}
section .one1 img {
  width: 0.25rem;
  height: 0.25rem;
  background: none;
  margin-left: -0.01rem;
  margin-top: -0.1rem;
}
section .one1 span {
  font-size: 0.3rem;
  margin-top: -0.5rem;
}
section .one1 p {
  -webkit-box-flex: 1;
  line-height: 0.5rem;
  margin-left: 0.31rem;
  font-size: 0.23rem;
  color: #999999;
}
.on2 .first {
  width: 1.02rem;
  height: 0.5rem;
  background: none;
  margin-left: 6rem;
  margin-top: -1.5rem;
}
.one2 {
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  margin-top: -0.3rem;
}
.one2 img {
  width: 1.08rem;
  height: 1.08rem;
  background: none;
  margin-top: 0.06rem;
  margin-left: 0.4rem;
}
.one3 {
  width: 2.97rem;
  height: 0.65rem;
  background: none;
  margin-left: 1.5rem;
  margin-top: -1rem;
}
.one3 img {
  width: 0.25rem;
  height: 0.25rem;
  background: none;
  margin-left: -0.01rem;
  margin-top: -0.1rem;
}
.one3 span {
  font-size: 0.3rem;
  margin-top: -0.5rem;
}
.one3 p {
  -webkit-box-flex: 1;
  line-height: 0.5rem;
  margin-left: 0.31rem;
  font-size: 0.23rem;
  color: #999999;
}
.on3 .first {
  width: 1.02rem;
  height: 0.5rem;
  background: none;
  margin-left: 6rem;
  margin-top: -1.5rem;
}
.one5 {
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  margin-top: -0.3rem;
}
.one5 img {
  width: 1.08rem;
  height: 1.08rem;
  background: none;
  margin-top: 0.06rem;
  margin-left: 0.4rem;
}
.one6 {
  width: 2.97rem;
  height: 0.65rem;
  background: none;
  margin-left: 1.5rem;
  margin-top: -1rem;
}
.one6 img {
  width: 0.25rem;
  height: 0.25rem;
  background: none;
  margin-left: -0.01rem;
  margin-top: -0.1rem;
}
.one6 span {
  font-size: 0.3rem;
  margin-top: -0.5rem;
}
.one6 p {
  -webkit-box-flex: 1;
  line-height: 0.5rem;
  margin-left: 0.31rem;
  font-size: 0.23rem;
  color: #999999;
}
.on4 .first {
  width: 1.02rem;
  height: 0.5rem;
  background: none;
  margin-left: 6rem;
  margin-top: -1.5rem;
}
