@import url(m_style.css);
html,
body,
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 3.1rem;
  background: #0000ff;
  background: url(../img/矩形-24.png) no-repeat;
  background-size: 100% auto;
}
header .tu {
  width: 1.64rem;
  height: 1.69rem;
  background: none;
  margin-left: 3rem;
  margin-top: 0.3rem;
}
.one {
  width: 1.54rem;
  height: 0.36rem;
  background: none;
  margin-left: 3rem;
  margin-top: 0.4rem;
  -webkit-box-flex: 1;
}
.one a {
  margin-left: 0.1rem;
  font-size: 0.32rem;
  color: #fff;
}
.two {
  width: 0.54rem;
  height: 0.43rem;
  background: none;
  margin-left: 5.5rem;
  margin-top: -2.41rem;
  position: absolute;
}
.two .first {
  width: 0.54rem;
  height: 0.53rem;
  background: none;
}
.three {
  width: 0.54rem;
  height: 0.43rem;
  background: none;
  margin-left: 6.5rem;
  margin-top: -2.4rem;
  position: absolute;
}
.three .zi {
  width: 0.54rem;
  height: 0.53rem;
  background: none;
}
.for {
  width: 3rem;
  height: 0.5rem;
  background: #ff0000;
  margin-left: 5.1rem;
  margin-top: -1.5rem;
  background: url(../img/圆角矩形-5.png) no-repeat right center;
  background-size: 100% auto;
  position: absolute;
}
.for a {
  margin-left: 0.2rem;
  font-size: 0.34rem;
  line-height: 0.5rem;
  color: #fff;
}
.for span {
  font-size: 0.34rem;
  margin-left: 0.23rem;
  color: #fff;
  line-height: 0.5rem;
}
.for .in {
  width: 0.24rem;
  height: 0.24rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.2rem;
}
section {
  width: 100%;
  height: 13.33rem;
  background: #f3f3f3;
  -webkit-box-flex: 1;
  overflow: auto;
}
.odd {
  width: 7.5rem;
  height: 1.56rem;
  background: #ffffff;
}
.odd1 {
  width: 2.55rem;
  height: 1rem;
  background: none;
  margin-top: -1.2rem;
  border-right: 1px solid #e6e6e6;
}
.odd1 img {
  width: 1rem;
  height: 1.2rem;
  background: none;
  margin-left: 1rem;
  margin-top: -0.1rem;
}
.odd2 {
  width: 0.65rem;
  height: 0.4rem;
  background: none;
  margin-left: 1.15rem;
  margin-top: -0.3rem;
}
.odd2 a {
  font-size: 0.3rem;
  -webkit-box-flex: 1;
}
.odd3 {
  width: 2.4rem;
  height: 1.18rem;
  background: none;
  margin-left: 2.6rem;
  margin-top: -1.2rem;
  border-right: 1px solid #e6e6e6;
}
.odd3 span {
  font-size: 0.25rem;
  margin-left: 1.1rem;
  line-height: 0.6rem;
}
.odd4 {
  width: 0.65rem;
  height: 0.4rem;
  background: none;
  margin-left: 3.5rem;
  margin-top: -0.4rem;
}
.odd4 a {
  font-size: 0.3rem;
  -webkit-box-flex: 1;
}
.odd5 {
  width: 2.55rem;
  height: 1.12rem;
  background: none;
  margin-left: 5rem;
  margin-top: -1.1rem;
}
.odd5 a {
  font-size: 0.3rem;
}
.odd6 {
  width: 0.58rem;
  height: 0.4rem;
  background: none;
  margin-left: 6rem;
  margin-top: -1.2rem;
}
.odd6 img {
  width: 0.58rem;
  height: 0.4rem;
  background: none;
  margin-top: 0.1rem;
}
.odd7 {
  width: 0.65rem;
  height: 0.4rem;
  background: none;
  margin-left: 6rem;
  margin-top: 0.4rem;
}
.odd7 a {
  font-size: 0.3rem;
  -webkit-box-flex: 1;
}
.pi {
  width: 7.5rem;
  height: 2.57rem;
  background: #ffffff;
  margin-top: 0.25rem;
}
.pi1 {
  width: 7.5rem;
  height: 0.87rem;
  background: none;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  margin-top: -1.8rem;
}
.pi1 img {
  width: 0.39rem;
  height: 0.38rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.1rem;
}
.pi1 a {
  line-height: 0.8rem;
  font-size: 0.4rem;
}
.pi1 p {
  display: inline;
  font-size: 0.01rem;
  color: #b8b8b8;
}
.pi1 span img {
  width: 0.17rem;
  height: 0.33rem;
  background: none;
  margin-left: 1rem;
}
.pi2 {
  width: 7.5rem;
  height: 0.87rem;
  background: none;
  margin-top: 0.01rem;
}
.pi2 img {
  width: 0.39rem;
  height: 0.38rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.1rem;
}
.pi2 a {
  line-height: 0.8rem;
  font-size: 0.4rem;
}
.pi2 p {
  display: inline;
  font-size: 0.01rem;
  color: #b8b8b8;
}
.pi2 span {
  -webkit-box-flex: 1;
}
.pi2 span img {
  width: 0.17rem;
  height: 0.33rem;
  background: none;
  margin-left: 3.1rem;
}
.qu {
  width: 100%;
  height: 1.89rem;
  background: #ffffff;
  margin-top: 0.2rem;
}
.pi3 {
  width: 7.5rem;
  height: 0.87rem;
  background: none;
  border-bottom: 1px solid #b8b8b8;
  margin-top: -0.1rem;
}
.pi3 img {
  width: 0.39rem;
  height: 0.38rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.1rem;
}
.pi3 a {
  line-height: 0.8rem;
  font-size: 0.4rem;
}
.pi3 p {
  display: inline;
  font-size: 0.01rem;
  color: #b8b8b8;
}
.pi3 span img {
  width: 0.17rem;
  height: 0.33rem;
  background: none;
  margin-left: 4rem;
}
.pi4 {
  width: 7.5rem;
  height: 0.87rem;
  background: none;
  margin-top: -0.1rem;
}
.pi4 img {
  width: 0.39rem;
  height: 0.38rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.1rem;
}
.pi4 a {
  line-height: 1rem;
  font-size: 0.4rem;
}
.pi4 p {
  display: inline;
  font-size: 0.01rem;
  color: #b8b8b8;
}
.pi4 span img {
  width: 0.17rem;
  height: 0.33rem;
  background: none;
  margin-left: 4rem;
}
.mi {
  width: 100%;
  height: 4.57rem;
  background: #ffffff;
  margin-top: 0.2rem;
}
.pi5 {
  width: 7.5rem;
  height: 0.87rem;
  background: none;
  border-bottom: 1px solid #b8b8b8;
  margin-top: -0.1rem;
}
.pi5 img {
  width: 0.39rem;
  height: 0.38rem;
  background: none;
  margin-left: 0.4rem;
  margin-top: -0.1rem;
}
.pi5 a {
  line-height: 1rem;
  font-size: 0.4rem;
}
.pi5 p {
  display: inline;
  font-size: 0.01rem;
  color: #b8b8b8;
}
.pi5 span img {
  width: 0.17rem;
  height: 0.33rem;
  background: none;
  margin-left: 4rem;
}
.me {
  width: 100%;
  height: 1.8rem;
  background: #ffffff;
  margin-top: 0.3rem;
}
footer {
  width: 100%;
  height: 0.97rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
footer .on {
  width: 0.47rem;
  height: 0.72rem;
  background: none;
}
footer .on img {
  width: 100%;
  height: auto;
  background: none;
  margin-top: -0.3rem;
  margin-left: 1.05rem;
}
footer .on1 {
  width: 0.47rem;
  height: 0.72rem;
  background: none;
}
footer .on1 img {
  width: 100%;
  height: auto;
  background: none;
  margin-left: 3.4rem;
  margin-top: 0.1rem;
}
footer .on2 {
  width: 0.47rem;
  height: 0.72rem;
  background: none;
}
footer .on2 img {
  width: 100%;
  height: auto;
  background: none;
  margin-left: 5.75rem;
  margin-top: 0.05rem;
}
.on3 {
  width: 0.5rem;
  height: 0.3rem;
  background: none;
  margin-top: 0.6rem;
  margin-left: -0.4rem;
  -webkit-box-flex: 1;
}
.on3 a {
  font-size: 0.22rem;
  color: #8b6568;
  -webkit-box-flex: 1;
}
.on4 {
  width: 0.5rem;
  height: 0.3rem;
  background: none;
  margin-top: 0.6rem;
  margin-left: 1.95rem;
  -webkit-box-flex: 1;
}
.on4 a {
  font-size: 0.22rem;
  color: #8b6568;
  -webkit-box-flex: 1;
}
.on5 {
  width: 0.5rem;
  height: 0.3rem;
  background: none;
  -webkit-box-flex: 1;
  margin-top: 0.6rem;
  margin-left: 2rem;
}
.on5 a {
  font-size: 0.22rem;
  color: red;
}
